 body {
  font-size: 30px;
  background-image: ("http://www.clearviewsys.com/images/Digital-Currency-Rate-Board-Panel.gif")
} 
.barchart-title {
  background: #7F9EBB;
  color: white;
  padding-left: 12%;
}
.barchart {
  background: #EDEDFA;
  display: flex;
  flex-direction: row;
  color: white;
  height: 400px;
  justify-content: center;
}
.currency {
  text-align: center;
  margin-bottom: 0px;
  align-self: flex-end;
  margin-right: 3px;
  width:15%;
}

#first-currency {
  height: 80%;
  background: #B4CBD1;
}

#second-currency {
  height: 75%;
  background: rgb(154, 154, 212);
}
#third-currency {
  height: 85%;
  background: #7F9EBB;
}

#fourth-currency {
  height: 60%;
  background: #668085;
}

#fifth-currency {
  height: 50%;
  background: rgb(109, 182, 201);
  
  
}

.currency:active {
   width:20%;
}

 /*let state = {
         
  /*      data: [],
 /*   };

  /*  function render() {
  /*      let output = document.querySelector('#output');
  /*      output.innerHTML = '';

   /*     for (let gif of state.data) {
   /*         let image = document.createElement('img');
    /*        image.setAttribute('src', gif.images.preview_gif.url);
    /*        output.appendChild(image);

